@function retina-size($value) {
  @return floor($value / 2);
}

@mixin retina-bg-size($spriteWidth, $spriteHeight) {
  background-size: floor($spriteWidth / 2) floor($spriteHeight / 2);
}

.iti-flag {
  $item-width-maps: (ac: 23px, ad: 23px, ae: 23px, af: 23px, ag: 23px, ai: 23px, al: 23px, am: 23px, ao: 23px, aq: 23px, ar: 23px, as: 23px, at: 23px, au: 23px, aw: 23px, ax: 23px, az: 23px, ba: 23px, bb: 23px, bd: 23px, be: 19px, bf: 23px, bg: 23px, bh: 23px, bi: 23px, bj: 23px, bl: 23px, bm: 23px, bn: 23px, bo: 23px, bq: 23px, br: 23px, bs: 23px, bt: 23px, bv: 22px, bw: 23px, by: 23px, bz: 23px, ca: 23px, cc: 23px, cd: 22px, cf: 23px, cg: 23px, ch: 16px, ci: 23px, ck: 23px, cl: 23px, cm: 23px, cn: 23px, co: 23px, cp: 23px, cr: 23px, cu: 23px, cv: 23px, cw: 23px, cx: 23px, cy: 23px, cz: 23px, de: 23px, dg: 23px, dj: 23px, dk: 21px, dm: 23px, do: 23px, dz: 23px, ea: 23px, ec: 23px, ee: 23px, eg: 23px, eh: 23px, er: 23px, es: 23px, et: 23px, eu: 23px, fi: 23px, fj: 23px, fk: 23px, fm: 23px, fo: 22px, fr: 23px, ga: 22px, gb: 23px, gd: 23px, ge: 23px, gf: 23px, gg: 23px, gh: 23px, gi: 23px, gl: 23px, gm: 23px, gn: 23px, gp: 23px, gq: 23px, gr: 23px, gs: 23px, gt: 23px, gu: 23px, gw: 23px, gy: 23px, hk: 23px, hm: 23px, hn: 23px, hr: 23px, ht: 23px, hu: 23px, ic: 23px, id: 23px, ie: 23px, il: 22px, im: 23px, in: 23px, io: 23px, iq: 23px, ir: 23px, is: 22px, it: 23px, je: 23px, jm: 23px, jo: 23px, jp: 23px, ke: 23px, kg: 23px, kh: 23px, ki: 23px, km: 23px, kn: 23px, kp: 23px, kr: 23px, kw: 23px, ky: 23px, kz: 23px, la: 23px, lb: 23px, lc: 23px, li: 23px, lk: 23px, lr: 23px, ls: 23px, lt: 23px, lu: 23px, lv: 23px, ly: 23px, ma: 23px, mc: 20px, md: 23px, me: 23px, mf: 23px, mg: 23px, mh: 23px, mk: 23px, ml: 23px, mm: 23px, mn: 23px, mo: 23px, mp: 23px, mq: 23px, mr: 23px, ms: 23px, mt: 23px, mu: 23px, mv: 23px, mw: 23px, mx: 23px, my: 23px, mz: 23px, na: 23px, nc: 23px, ne: 19px, nf: 23px, ng: 23px, ni: 23px, nl: 23px, no: 22px, np: 13px, nr: 23px, nu: 23px, nz: 23px, om: 23px, pa: 23px, pe: 23px, pf: 23px, pg: 22px, ph: 23px, pk: 23px, pl: 23px, pm: 23px, pn: 23px, pr: 23px, ps: 23px, pt: 23px, pw: 23px, py: 23px, qa: 23px, re: 23px, ro: 23px, rs: 23px, ru: 23px, rw: 23px, sa: 23px, sb: 23px, sc: 23px, sd: 23px, se: 23px, sg: 23px, sh: 23px, si: 23px, sj: 22px, sk: 23px, sl: 23px, sm: 22px, sn: 23px, so: 23px, sr: 23px, ss: 23px, st: 23px, sv: 23px, sx: 23px, sy: 23px, sz: 23px, ta: 23px, tc: 23px, td: 23px, tf: 23px, tg: 23px, th: 23px, tj: 23px, tk: 23px, tl: 23px, tm: 23px, tn: 23px, to: 23px, tr: 23px, tt: 23px, tv: 23px, tw: 23px, tz: 23px, ua: 23px, ug: 23px, um: 23px, us: 23px, uy: 23px, uz: 23px, va: 16px, vc: 23px, ve: 23px, vg: 23px, vi: 23px, vn: 23px, vu: 23px, wf: 23px, ws: 23px, xk: 23px, ye: 23px, yt: 23px, za: 23px, zm: 23px, zw: 23px, );
  $standard-country: 'ac';
  width: map-get($item-width-maps, $standard-country);

  @each $key, $width in $item-width-maps {
    @if $width != map-get($item-width-maps, $standard-country) {
      &.#{$key} {
        width: $width;
      }
    }
  }

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-size: 6376px 16px;
  }

  &.ac {
    height: 12px;
    background-position: 0px 0px;
  }
  &.ad {
    height: 16px;
    background-position: -25px 0px;
  }
  &.ae {
    height: 12px;
    background-position: -50px 0px;
  }
  &.af {
    height: 16px;
    background-position: -75px 0px;
  }
  &.ag {
    height: 16px;
    background-position: -100px 0px;
  }
  &.ai {
    height: 12px;
    background-position: -125px 0px;
  }
  &.al {
    height: 16px;
    background-position: -150px 0px;
  }
  &.am {
    height: 12px;
    background-position: -175px 0px;
  }
  &.ao {
    height: 16px;
    background-position: -200px 0px;
  }
  &.aq {
    height: 16px;
    background-position: -225px 0px;
  }
  &.ar {
    height: 15px;
    background-position: -250px 0px;
  }
  &.as {
    height: 12px;
    background-position: -275px 0px;
  }
  &.at {
    height: 16px;
    background-position: -300px 0px;
  }
  &.au {
    height: 12px;
    background-position: -325px 0px;
  }
  &.aw {
    height: 16px;
    background-position: -350px 0px;
  }
  &.ax {
    height: 15px;
    background-position: -375px 0px;
  }
  &.az {
    height: 12px;
    background-position: -400px 0px;
  }
  &.ba {
    height: 12px;
    background-position: -425px 0px;
  }
  &.bb {
    height: 16px;
    background-position: -450px 0px;
  }
  &.bd {
    height: 14px;
    background-position: -475px 0px;
  }
  &.be {
    height: 16px;
    background-position: -500px 0px;
  }
  &.bf {
    height: 16px;
    background-position: -521px 0px;
  }
  &.bg {
    height: 14px;
    background-position: -546px 0px;
  }
  &.bh {
    height: 14px;
    background-position: -571px 0px;
  }
  &.bi {
    height: 14px;
    background-position: -596px 0px;
  }
  &.bj {
    height: 16px;
    background-position: -621px 0px;
  }
  &.bl {
    height: 16px;
    background-position: -646px 0px;
  }
  &.bm {
    height: 12px;
    background-position: -671px 0px;
  }
  &.bn {
    height: 12px;
    background-position: -696px 0px;
  }
  &.bo {
    height: 16px;
    background-position: -721px 0px;
  }
  &.bq {
    height: 16px;
    background-position: -746px 0px;
  }
  &.br {
    height: 16px;
    background-position: -771px 0px;
  }
  &.bs {
    height: 12px;
    background-position: -796px 0px;
  }
  &.bt {
    height: 16px;
    background-position: -821px 0px;
  }
  &.bv {
    height: 16px;
    background-position: -846px 0px;
  }
  &.bw {
    height: 16px;
    background-position: -870px 0px;
  }
  &.by {
    height: 12px;
    background-position: -895px 0px;
  }
  &.bz {
    height: 16px;
    background-position: -920px 0px;
  }
  &.ca {
    height: 12px;
    background-position: -945px 0px;
  }
  &.cc {
    height: 12px;
    background-position: -970px 0px;
  }
  &.cd {
    height: 16px;
    background-position: -995px 0px;
  }
  &.cf {
    height: 16px;
    background-position: -1019px 0px;
  }
  &.cg {
    height: 16px;
    background-position: -1044px 0px;
  }
  &.ch {
    height: 16px;
    background-position: -1069px 0px;
  }
  &.ci {
    height: 16px;
    background-position: -1087px 0px;
  }
  &.ck {
    height: 12px;
    background-position: -1112px 0px;
  }
  &.cl {
    height: 16px;
    background-position: -1137px 0px;
  }
  &.cm {
    height: 16px;
    background-position: -1162px 0px;
  }
  &.cn {
    height: 16px;
    background-position: -1187px 0px;
  }
  &.co {
    height: 16px;
    background-position: -1212px 0px;
  }
  &.cp {
    height: 16px;
    background-position: -1237px 0px;
  }
  &.cr {
    height: 14px;
    background-position: -1262px 0px;
  }
  &.cu {
    height: 12px;
    background-position: -1287px 0px;
  }
  &.cv {
    height: 14px;
    background-position: -1312px 0px;
  }
  &.cw {
    height: 16px;
    background-position: -1337px 0px;
  }
  &.cx {
    height: 12px;
    background-position: -1362px 0px;
  }
  &.cy {
    height: 15px;
    background-position: -1387px 0px;
  }
  &.cz {
    height: 16px;
    background-position: -1412px 0px;
  }
  &.de {
    height: 14px;
    background-position: -1437px 0px;
  }
  &.dg {
    height: 12px;
    background-position: -1462px 0px;
  }
  &.dj {
    height: 16px;
    background-position: -1487px 0px;
  }
  &.dk {
    height: 16px;
    background-position: -1512px 0px;
  }
  &.dm {
    height: 12px;
    background-position: -1535px 0px;
  }
  &.do {
    height: 15px;
    background-position: -1560px 0px;
  }
  &.dz {
    height: 16px;
    background-position: -1585px 0px;
  }
  &.ea {
    height: 16px;
    background-position: -1610px 0px;
  }
  &.ec {
    height: 16px;
    background-position: -1635px 0px;
  }
  &.ee {
    height: 15px;
    background-position: -1660px 0px;
  }
  &.eg {
    height: 16px;
    background-position: -1685px 0px;
  }
  &.eh {
    height: 12px;
    background-position: -1710px 0px;
  }
  &.er {
    height: 12px;
    background-position: -1735px 0px;
  }
  &.es {
    height: 16px;
    background-position: -1760px 0px;
  }
  &.et {
    height: 12px;
    background-position: -1785px 0px;
  }
  &.eu {
    height: 16px;
    background-position: -1810px 0px;
  }
  &.fi {
    height: 14px;
    background-position: -1835px 0px;
  }
  &.fj {
    height: 12px;
    background-position: -1860px 0px;
  }
  &.fk {
    height: 12px;
    background-position: -1885px 0px;
  }
  &.fm {
    height: 12px;
    background-position: -1910px 0px;
  }
  &.fo {
    height: 16px;
    background-position: -1935px 0px;
  }
  &.fr {
    height: 16px;
    background-position: -1959px 0px;
  }
  &.ga {
    height: 16px;
    background-position: -1984px 0px;
  }
  &.gb {
    height: 12px;
    background-position: -2008px 0px;
  }
  &.gd {
    height: 14px;
    background-position: -2033px 0px;
  }
  &.ge {
    height: 16px;
    background-position: -2058px 0px;
  }
  &.gf {
    height: 16px;
    background-position: -2083px 0px;
  }
  &.gg {
    height: 16px;
    background-position: -2108px 0px;
  }
  &.gh {
    height: 16px;
    background-position: -2133px 0px;
  }
  &.gi {
    height: 12px;
    background-position: -2158px 0px;
  }
  &.gl {
    height: 16px;
    background-position: -2183px 0px;
  }
  &.gm {
    height: 16px;
    background-position: -2208px 0px;
  }
  &.gn {
    height: 16px;
    background-position: -2233px 0px;
  }
  &.gp {
    height: 16px;
    background-position: -2258px 0px;
  }
  &.gq {
    height: 16px;
    background-position: -2283px 0px;
  }
  &.gr {
    height: 16px;
    background-position: -2308px 0px;
  }
  &.gs {
    height: 12px;
    background-position: -2333px 0px;
  }
  &.gt {
    height: 15px;
    background-position: -2358px 0px;
  }
  &.gu {
    height: 13px;
    background-position: -2383px 0px;
  }
  &.gw {
    height: 12px;
    background-position: -2408px 0px;
  }
  &.gy {
    height: 14px;
    background-position: -2433px 0px;
  }
  &.hk {
    height: 16px;
    background-position: -2458px 0px;
  }
  &.hm {
    height: 12px;
    background-position: -2483px 0px;
  }
  &.hn {
    height: 12px;
    background-position: -2508px 0px;
  }
  &.hr {
    height: 12px;
    background-position: -2533px 0px;
  }
  &.ht {
    height: 14px;
    background-position: -2558px 0px;
  }
  &.hu {
    height: 12px;
    background-position: -2583px 0px;
  }
  &.ic {
    height: 16px;
    background-position: -2608px 0px;
  }
  &.id {
    height: 16px;
    background-position: -2633px 0px;
  }
  &.ie {
    height: 12px;
    background-position: -2658px 0px;
  }
  &.il {
    height: 16px;
    background-position: -2683px 0px;
  }
  &.im {
    height: 12px;
    background-position: -2707px 0px;
  }
  &.in {
    height: 16px;
    background-position: -2732px 0px;
  }
  &.io {
    height: 12px;
    background-position: -2757px 0px;
  }
  &.iq {
    height: 16px;
    background-position: -2782px 0px;
  }
  &.ir {
    height: 13px;
    background-position: -2807px 0px;
  }
  &.is {
    height: 16px;
    background-position: -2832px 0px;
  }
  &.it {
    height: 16px;
    background-position: -2856px 0px;
  }
  &.je {
    height: 14px;
    background-position: -2881px 0px;
  }
  &.jm {
    height: 12px;
    background-position: -2906px 0px;
  }
  &.jo {
    height: 12px;
    background-position: -2931px 0px;
  }
  &.jp {
    height: 16px;
    background-position: -2956px 0px;
  }
  &.ke {
    height: 16px;
    background-position: -2981px 0px;
  }
  &.kg {
    height: 14px;
    background-position: -3006px 0px;
  }
  &.kh {
    height: 15px;
    background-position: -3031px 0px;
  }
  &.ki {
    height: 12px;
    background-position: -3056px 0px;
  }
  &.km {
    height: 14px;
    background-position: -3081px 0px;
  }
  &.kn {
    height: 16px;
    background-position: -3106px 0px;
  }
  &.kp {
    height: 12px;
    background-position: -3131px 0px;
  }
  &.kr {
    height: 16px;
    background-position: -3156px 0px;
  }
  &.kw {
    height: 12px;
    background-position: -3181px 0px;
  }
  &.ky {
    height: 12px;
    background-position: -3206px 0px;
  }
  &.kz {
    height: 12px;
    background-position: -3231px 0px;
  }
  &.la {
    height: 16px;
    background-position: -3256px 0px;
  }
  &.lb {
    height: 16px;
    background-position: -3281px 0px;
  }
  &.lc {
    height: 12px;
    background-position: -3306px 0px;
  }
  &.li {
    height: 14px;
    background-position: -3331px 0px;
  }
  &.lk {
    height: 12px;
    background-position: -3356px 0px;
  }
  &.lr {
    height: 12px;
    background-position: -3381px 0px;
  }
  &.ls {
    height: 16px;
    background-position: -3406px 0px;
  }
  &.lt {
    height: 14px;
    background-position: -3431px 0px;
  }
  &.lu {
    height: 14px;
    background-position: -3456px 0px;
  }
  &.lv {
    height: 12px;
    background-position: -3481px 0px;
  }
  &.ly {
    height: 12px;
    background-position: -3506px 0px;
  }
  &.ma {
    height: 16px;
    background-position: -3531px 0px;
  }
  &.mc {
    height: 16px;
    background-position: -3556px 0px;
  }
  &.md {
    height: 12px;
    background-position: -3578px 0px;
  }
  &.me {
    height: 12px;
    background-position: -3603px 0px;
  }
  &.mf {
    height: 16px;
    background-position: -3628px 0px;
  }
  &.mg {
    height: 16px;
    background-position: -3653px 0px;
  }
  &.mh {
    height: 12px;
    background-position: -3678px 0px;
  }
  &.mk {
    height: 12px;
    background-position: -3703px 0px;
  }
  &.ml {
    height: 16px;
    background-position: -3728px 0px;
  }
  &.mm {
    height: 16px;
    background-position: -3753px 0px;
  }
  &.mn {
    height: 12px;
    background-position: -3778px 0px;
  }
  &.mo {
    height: 16px;
    background-position: -3803px 0px;
  }
  &.mp {
    height: 12px;
    background-position: -3828px 0px;
  }
  &.mq {
    height: 16px;
    background-position: -3853px 0px;
  }
  &.mr {
    height: 16px;
    background-position: -3878px 0px;
  }
  &.ms {
    height: 12px;
    background-position: -3903px 0px;
  }
  &.mt {
    height: 16px;
    background-position: -3928px 0px;
  }
  &.mu {
    height: 16px;
    background-position: -3953px 0px;
  }
  &.mv {
    height: 16px;
    background-position: -3978px 0px;
  }
  &.mw {
    height: 16px;
    background-position: -4003px 0px;
  }
  &.mx {
    height: 13px;
    background-position: -4028px 0px;
  }
  &.my {
    height: 12px;
    background-position: -4053px 0px;
  }
  &.mz {
    height: 16px;
    background-position: -4078px 0px;
  }
  &.na {
    height: 16px;
    background-position: -4103px 0px;
  }
  &.nc {
    height: 12px;
    background-position: -4128px 0px;
  }
  &.ne {
    height: 16px;
    background-position: -4153px 0px;
  }
  &.nf {
    height: 12px;
    background-position: -4174px 0px;
  }
  &.ng {
    height: 12px;
    background-position: -4199px 0px;
  }
  &.ni {
    height: 14px;
    background-position: -4224px 0px;
  }
  &.nl {
    height: 16px;
    background-position: -4249px 0px;
  }
  &.no {
    height: 16px;
    background-position: -4274px 0px;
  }
  &.np {
    height: 16px;
    background-position: -4298px 0px;
  }
  &.nr {
    height: 12px;
    background-position: -4313px 0px;
  }
  &.nu {
    height: 12px;
    background-position: -4338px 0px;
  }
  &.nz {
    height: 12px;
    background-position: -4363px 0px;
  }
  &.om {
    height: 12px;
    background-position: -4388px 0px;
  }
  &.pa {
    height: 16px;
    background-position: -4413px 0px;
  }
  &.pe {
    height: 16px;
    background-position: -4438px 0px;
  }
  &.pf {
    height: 16px;
    background-position: -4463px 0px;
  }
  &.pg {
    height: 16px;
    background-position: -4488px 0px;
  }
  &.ph {
    height: 12px;
    background-position: -4512px 0px;
  }
  &.pk {
    height: 16px;
    background-position: -4537px 0px;
  }
  &.pl {
    height: 15px;
    background-position: -4562px 0px;
  }
  &.pm {
    height: 16px;
    background-position: -4587px 0px;
  }
  &.pn {
    height: 12px;
    background-position: -4612px 0px;
  }
  &.pr {
    height: 16px;
    background-position: -4637px 0px;
  }
  &.ps {
    height: 12px;
    background-position: -4662px 0px;
  }
  &.pt {
    height: 16px;
    background-position: -4687px 0px;
  }
  &.pw {
    height: 15px;
    background-position: -4712px 0px;
  }
  &.py {
    height: 13px;
    background-position: -4737px 0px;
  }
  &.qa {
    height: 9px;
    background-position: -4762px 0px;
  }
  &.re {
    height: 16px;
    background-position: -4787px 0px;
  }
  &.ro {
    height: 16px;
    background-position: -4812px 0px;
  }
  &.rs {
    height: 16px;
    background-position: -4837px 0px;
  }
  &.ru {
    height: 16px;
    background-position: -4862px 0px;
  }
  &.rw {
    height: 16px;
    background-position: -4887px 0px;
  }
  &.sa {
    height: 16px;
    background-position: -4912px 0px;
  }
  &.sb {
    height: 12px;
    background-position: -4937px 0px;
  }
  &.sc {
    height: 12px;
    background-position: -4962px 0px;
  }
  &.sd {
    height: 12px;
    background-position: -4987px 0px;
  }
  &.se {
    height: 15px;
    background-position: -5012px 0px;
  }
  &.sg {
    height: 16px;
    background-position: -5037px 0px;
  }
  &.sh {
    height: 12px;
    background-position: -5062px 0px;
  }
  &.si {
    height: 12px;
    background-position: -5087px 0px;
  }
  &.sj {
    height: 16px;
    background-position: -5112px 0px;
  }
  &.sk {
    height: 16px;
    background-position: -5136px 0px;
  }
  &.sl {
    height: 16px;
    background-position: -5161px 0px;
  }
  &.sm {
    height: 16px;
    background-position: -5186px 0px;
  }
  &.sn {
    height: 16px;
    background-position: -5210px 0px;
  }
  &.so {
    height: 16px;
    background-position: -5235px 0px;
  }
  &.sr {
    height: 16px;
    background-position: -5260px 0px;
  }
  &.ss {
    height: 12px;
    background-position: -5285px 0px;
  }
  &.st {
    height: 12px;
    background-position: -5310px 0px;
  }
  &.sv {
    height: 13px;
    background-position: -5335px 0px;
  }
  &.sx {
    height: 16px;
    background-position: -5360px 0px;
  }
  &.sy {
    height: 16px;
    background-position: -5385px 0px;
  }
  &.sz {
    height: 16px;
    background-position: -5410px 0px;
  }
  &.ta {
    height: 12px;
    background-position: -5435px 0px;
  }
  &.tc {
    height: 12px;
    background-position: -5460px 0px;
  }
  &.td {
    height: 16px;
    background-position: -5485px 0px;
  }
  &.tf {
    height: 16px;
    background-position: -5510px 0px;
  }
  &.tg {
    height: 14px;
    background-position: -5535px 0px;
  }
  &.th {
    height: 16px;
    background-position: -5560px 0px;
  }
  &.tj {
    height: 12px;
    background-position: -5585px 0px;
  }
  &.tk {
    height: 12px;
    background-position: -5610px 0px;
  }
  &.tl {
    height: 12px;
    background-position: -5635px 0px;
  }
  &.tm {
    height: 16px;
    background-position: -5660px 0px;
  }
  &.tn {
    height: 16px;
    background-position: -5685px 0px;
  }
  &.to {
    height: 12px;
    background-position: -5710px 0px;
  }
  &.tr {
    height: 16px;
    background-position: -5735px 0px;
  }
  &.tt {
    height: 14px;
    background-position: -5760px 0px;
  }
  &.tv {
    height: 12px;
    background-position: -5785px 0px;
  }
  &.tw {
    height: 16px;
    background-position: -5810px 0px;
  }
  &.tz {
    height: 16px;
    background-position: -5835px 0px;
  }
  &.ua {
    height: 16px;
    background-position: -5860px 0px;
  }
  &.ug {
    height: 16px;
    background-position: -5885px 0px;
  }
  &.um {
    height: 12px;
    background-position: -5910px 0px;
  }
  &.us {
    height: 12px;
    background-position: -5935px 0px;
  }
  &.uy {
    height: 16px;
    background-position: -5960px 0px;
  }
  &.uz {
    height: 12px;
    background-position: -5985px 0px;
  }
  &.va {
    height: 16px;
    background-position: -6010px 0px;
  }
  &.vc {
    height: 16px;
    background-position: -6028px 0px;
  }
  &.ve {
    height: 16px;
    background-position: -6053px 0px;
  }
  &.vg {
    height: 12px;
    background-position: -6078px 0px;
  }
  &.vi {
    height: 16px;
    background-position: -6103px 0px;
  }
  &.vn {
    height: 16px;
    background-position: -6128px 0px;
  }
  &.vu {
    height: 14px;
    background-position: -6153px 0px;
  }
  &.wf {
    height: 16px;
    background-position: -6178px 0px;
  }
  &.ws {
    height: 12px;
    background-position: -6203px 0px;
  }
  &.xk {
    height: 16px;
    background-position: -6228px 0px;
  }
  &.ye {
    height: 16px;
    background-position: -6253px 0px;
  }
  &.yt {
    height: 16px;
    background-position: -6278px 0px;
  }
  &.za {
    height: 16px;
    background-position: -6303px 0px;
  }
  &.zm {
    height: 16px;
    background-position: -6328px 0px;
  }
  &.zw {
    height: 12px;
    background-position: -6353px 0px;
  }
}
